body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    color: #666666 ;
}

.app-wrapper {

    margin: 0 auto;
}


 /* Navigation */

.nav-bar {
    width: 100%;
    height: 120px;
    display: flex;
    margin-top: 1em;
}
.nav-bar img {
    height: 100px;
    animation: 1.3s ease-out 0s 1 slideInFromLeft;
    /* width: 100px; */
}
.nav-bar ul {
    height: 50%;
    display: flex;
    list-style: none;
    margin: auto;
}
.nav-bar li {
    padding: 1em;
    font-size: 13px;
    font-weight: bold;
}
.nav-bar li a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: #666666 ;
}
.nav-bar li a:hover {
    color: white;
    background:#00a6ce;
    border-radius: 5px;
}



/* Footer */


.footer {
    width: 100%;
    height: 400px;
    display: flex;
}
.footer h4 {
    font-weight: bold;
    color: #00a6ce;
    padding: 3em 0 1em 0;
}
.clinic-info {
    width: 40%;
    display: block;
    margin: 0 2em 0 0;
}
.dental-clinic {
    width: 20%;
    display: block;
    margin: 0 2em;
}
.our-services {
    width: 20%;
    display: block;
    margin: 0 2em;
}
.opening-hours {
    width: 20%;
    display: block;
    margin: 0 0 0 2em;
}
.monday{
    display: flex;
    justify-content: space-between;
}
.tuesday {
    display: flex;
    justify-content: space-between; 
}
.wednesday{
    display: flex;
    justify-content: space-between; 
}
.thursday{
    display: flex;
    justify-content: space-between; 
}
.friday{
    display: flex;
    justify-content: space-between; 
}
.saturday{
    display: flex;
    justify-content: space-between; 
}
.copyright{
    margin-bottom: 0;
    padding-bottom: 1em;
}
hr{
    background: white;
}



/* HomePage */


/* Carosel */

.heading-one {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    color: #fff;
    padding: 1em;
    text-align: center;
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
}
.heading-two {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 45%;
    left: 50%;
    margin-left: -45%;
    width: 90%;
    color: #fff;
    padding: 1em;
    text-align: center;
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    transition: opacity .35s ease-in-out;
}
.carousel .slide img {
    max-height: 800px;
}

.view-btn {

    /* position: absolute;
    top: 50%; */
    border-radius: 25px;
    padding: 0.5em 2em 0.5em 2em;
    width: 160px;
    position: absolute;
    bottom: 40%;
    left: 50%;
    margin-left: -80px;
    background: #00a6ce;
    color: white;
    text-decoration: none;

}
.view-btn:hover {
    color: white;   
    box-shadow: 0 0 0 2px white;
    font-weight: bold;
}



/* Choose Us Section */

.choose-us-right {
    width: 40%;
    display: block;
}

.choose-us-left  {
    width: 50%;
    background: url("../../../static/images/why_choose_us.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -20px 20px rgb(230, 229, 229);

}
.choose-us-headng {
    display: flex;
    margin-top: 1em;
}
.choose-us-headng h1:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
    color: #002169 ;
    margin-right: 0.5rem;
}
.choose-us-headng h1:nth-child(2) {
    font-size: 2em;
    font-weight: bold;
    color: #00a6ce;
    margin-right: 0.5rem;
}
.choose-us-headng h1:nth-child(3) {
    font-size: 2em;
    font-weight: bold;
    color: #00a6ce;
    
}
.progress-bars{
    margin-top: 3em;
}
.progress-info {
    display: flex;
}
.percentage{
    color: black;
}
.progress-bars p {
    margin-bottom: 0.5em;
    color: black;
}
.progress{
    height: 10px;
    margin-bottom: 3em;
}
.progress-bar {
    background-color: #00a6ce;
    text-align: right;
    
}
.progress-bars .progress-bar:nth-child(1){
    animation: 1.3s cubic-bezier(0.01, 0.35, 0.99, 0.99) 0s 1 slideInFromLeft;
}
.progress-bar #text {
    color: red;
}



/* Four Icons Section */

.four-icons-section {
    margin-top: 8em;
    width: 100%;
    height: 600px;
    background-color: #00a6ce;
    display: flex;
    justify-content: space-around;
}
.icon-wrapper {
    margin: auto;
    
    width: 20%;
    text-align: center;
}
.icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    background: url("../../../static/images/dental_icon.png");
    background-size: cover;
}
.icon-info {
    margin-top: 1em;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.second-icon-info {
    color: white;
}
.icon-btn {
    color: white;
    text-decoration: none;
    
}

/* Meet Our Doctors Section */

.doctors-heading {
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
}
.meet-our-doctors {
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
}
.doctors-paragraph {
    text-align: center;
}

.doctors-wrapper {
    display: flex;
    justify-content: space-between;
}
.doctor-wrapper {
    width: 30%;
    text-align: center;
    padding: 3em 1em ;
    border: 1px solid lightgray;
    border-radius: 5px;

}
.doctor-img {
    margin: 0 auto;
    margin-bottom: 1em;
    background: url("../../../static/images/dentist.jpg");
    /* background: lightgrey; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;

    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.doctor-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #00a6ce;
    position: relative;
    top: 5px;
    left: 180px;
    display:table-cell;
    vertical-align:middle;
    color: white;
}
.doctor-icon .svg-inline--fa path{
    color: white;
}
.doctor-info {
    padding: 0 1em;
    margin-bottom: 2em;
}
.doctor-name {
    color: black;
    font-weight: bold;
}
.doctor-spec {
    color: #00a6ce;
    font-weight: bold;
}
.doctor-social {
    opacity: 0.3;
    margin: 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
}



/* Our Health Service */
.health-service-heading{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 3em;
}
.health-service {
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
    
}
.health-service h1 {
    color:  white !important;
}
.health-service-paragraph {
    text-align: center;
    color: white;
}

.nav-tabs .nav-link {
    border-top: none;
    border-right: none;
    border-left: none;

    border-bottom: 1px solid white;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover, .nav-tabs .nav-link.active{
    border: none;
    border-bottom: 3px solid white ;
    outline: 0;
    background: none;

}
.teeth-cleaning-title {
    color: white;
    margin-top: 0.5em;
    text-decoration: none;
    font-weight: bold;
}
.teeth-cleaning-title path {
    color: white;
}

.services-tap-wrapper {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;

}
.services-tap-img {
    width: 40%;

    background: url("../../../static/images/health_service1.jpg");
    background-size: cover;
    background-position: right;
}
.services-tap-right {
    width: 55%;
    margin-top: 0.5em;
    margin-bottom: 3em;
}
.services-tap-right h2 {
    font-size: 1.8em;
    color: white;
    line-height: 1.5;
    margin-bottom: 1em;
    font-weight: bold;
}
.services-tap-right p {
    color: white;
    margin-bottom: 1em;
}
.tab-btn-wrapper {
    margin-top: 4em;
}
.tab-btn {
    padding: 0.5em 1em;
    border: 1px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: white;
}
.tab-btn:hover {
    font-weight: bold;
    border: 2px solid white;
    color: white;
}
.service-tap-par-icoon path {
    color:white;
}


 /* Video Section */
.video-wrapper {
    width: 100%;
    height: 80%;
    background: lightgrey;
    border-radius: 5px;
}
.play-btn {
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 45%;
}
.play-btn svg {
    position: relative;
    top: 25px;
    left: 25px;
    margin-left: -45px;
}
.play-btn:hover {
    background: gray;
    cursor: pointer;
}
.video-text {
    text-align: center;
}
.video-btn {
    text-decoration: none;
    color: #00a6ce;
}
.video-btn:hover {
    color: #00a6ce;
    font-weight: bold;
}


/* Write Us Section */
.write-us-form {
    margin-top: 4em;
}
.write-us-form .row {
    margin-bottom: 2em;
}
.write-us-form .row .col input::placeholder {
    color:  white;
    font-weight: bold;
}
/* .write-us-form .row:nth-child(4) .col input {
    padding-bottom: 100px;
} */
.write-us-form .row .col input{
    padding: 1em;
    border: 1px solid rgb(101, 190, 219);
    color: white;
    background: rgb(101, 190, 219);
}
.custom-select {
    padding: 1em;
    border: 1px solid rgb(101, 190, 219);
    color: white;
    background: rgb(101, 190, 219);
    width: 100%;
    font-weight: bold;
    appearance:none;
    outline: 0;
}
select:-moz-focusring { 
    color: transparent;
    text-shadow: 0 0 0 white 
}
select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
}  
/* For IE10 */
select::-ms-expand {
    display: none;
}
.write-us-form .row .col .message-input {
    padding: 1em;

    border: 1px solid rgb(101, 190, 219);
    color: white;
    background: rgb(101, 190, 219);
    resize: none;
}
.write-us-form .row .col .message-input::placeholder {
    color:  white;
    font-weight: bold;
}
.write-us-text {
    width: 50%;
    text-align: center;
    margin: auto;
    color: white;
}

.form-control:focus {
    box-shadow: none;
}
.form-btn {
    width: 160px;
    border-radius: 25px;
    color: inherit;
    font-weight: bold;
    border: 1px solid rgb(101, 190, 219);
    background: white;
    position: relative;
    left: 50%;
    margin-left: -80px;

}

.form-btn:hover, .form-btn:focus, .form-btn:active:focus{
    color: white;
    font-weight: bold;
    background: rgb(101, 190, 219);
    border: 1px solid white;
    box-shadow: 0 0 0 2px white;
}


/* Feedback Page */
.feedback-cover-img {
    height: 375px;
    background: url('../images/gallery/gallery7.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.feedback-heading-one {
    position: relative;
    top: 45%;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-left: -100px;
}
.feedback-heading-two {
    position: relative;
    top: 45%;
    left: 50%;
    width: 200px;
    text-align: center;
    margin-left: -100px;
}
.feedback-form .row {
    padding-bottom: 1em;
}
.feedback-form {
    background: #00a6ce;
    width: 50%;
    border-radius: 5px;
    padding: 1em;
    padding-bottom: 2em;
    margin: auto;
}
.feedback-form textarea {
    resize: none;
}


/* Contact Us PAGE */

.contact-us-cover-img {
    height: 375px;
    background: url('../images/gallery/gallery5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contact-us-left p {
    margin-top: 1em;
    margin-bottom: 3em;
}

.contact-us-form {
    margin-top: 2em;
}
.contact-us-form .row {
    margin-bottom: 2em;
}
.contact-us-form input {
    padding-top: 1em;
    padding-bottom: 1em;

}
.contact-us-form textarea {
    resize: none;
}
.contact-us-btn {
    border-radius: 25px;
    padding: 0.5em 2em 0.5em 2em;
    background: #00a6ce;
    color: white;
    text-decoration: none;
    border: none;
}
.contact-us-btn:hover {
    color: #00a6ce;   
    box-shadow: 0 0 0 2px #00a6ce;
    font-weight: bold;
    background: white;
}
.bg-adress {
    width: 45%;
}
.eu-adress {
    width: 45%;
}

/* About us Page */

.about-us-cover-img {
    height: 375px;
    background: url('../images/gallery/gallery8.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.about-us-left {
    width: 50%;
    background: url("../images/gallery/gallery6.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: -20px 20px rgb(230, 229, 229);
}
.about-cards {
    display:flex;
    justify-content: space-around;
}
.about-card {
    width: 250px;
    text-align: center;
}
.card-img {
    width: 100%;
    height: 200px;
    background: lightgray;
    margin-bottom: 1em;
}
.card-heading {
    margin-bottom: 1em;
    font-weight: bold;
    color: white;
}
.about-card p {
    margin-bottom: 2em;
    color: white;
}
.about-paragraph {
    text-align: center;
    color: white;
}



/* KeyFrames */

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0%;
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes startFromLeftProgressBarOne {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}   